input[type=range] {
  -webkit-appearance: none;
  margin: 10px;
  width: 250px;
  border-radius: 50px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  background: $color-main-dark;
  border-radius: 50px;
  border: 3px solid $color-main-medium;
}

input[type=range]::-webkit-slider-thumb {
  border: 3px solid $color-main-lighter;
  box-shadow: inset 0px 0px 2px 1px #888;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: $color-main-medium;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: $color-main-dark;
  box-shadow: 0px 0px 5px 1px $color-main-medium-dark;
}

input:not([type=submit]):not([type=file]):not([type=range]):not([type=button]) {
  background-color: $color-main-dark;
  border: 3px solid $color-main-medium;
  padding: 5px;
  border-radius: 10px;
  font-size: 1em;
  width: 60px;
  text-align: center;
  color: $color-main-lighter
}

input:focus:not([type=submit]):not([type=file]):not([type=range]) {
  border: 3px solid $color-main-lightest;
  border-radius: 10px;
  outline: none;
  background-color: $color-main-dark;
  box-shadow: 0px 0px 5px 1px $color-main-medium-dark;
}

.input-value {
  display: flex;
  justify-content: center;
  margin: 10px;
}

button {
  background-color: $color-main-dark;
  border: 3px solid $color-main-lighter;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1em;
  text-align: center;
  color: $color-main-lighter
}

button:disabled {
  color: $color-main-medium
}

button:hover {
  border: 3px solid $color-main-dark;
  border-radius: 10px;
  background-color: $color-main-lighter;
  box-shadow: inset 0px 0px 5px 1px $color-main-lighter;
  color: $color-main-dark;
}

button:focus {
  outline: none;
}
