// COLOR

$color-main: #777;
$color-main-lightest: lighten($color-main, 75);
$color-main-lighter: lighten($color-main, 50);
$color-main-light: lighten($color-main, 10);
$color-main-light-medium: lighten($color-main, 5);
$color-main-medium: $color-main;
$color-main-medium-dark: darken($color-main, 5);
$color-main-dark: darken($color-main, 10);
$color-main-darker: darken($color-main, 50);